<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService2" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50354/Service.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="ServiceReference1.IService"
                name="WSDualHttpBinding_IService" />
            <endpoint address="http://localhost:50354/Service2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="ServiceReference2.IService2"
                name="BasicHttpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>
